# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
RB-StromPi3.elf.launch
Debug/RB-StromPi3.binary
Debug/RB-StromPi3.list
Debug/RB-StromPi3.binary
Schematic Files+Hardware Layout/Schema_bw.pdf
Schematic Files+Hardware Layout/Schema_c.pdf
/Debug/
